/**{border: solid black 1px;}*/

body{
    display: flex;
    flex-direction: column;
    font-family: sans-serif;
    margin: 0px;
    
    
    
}



.header-logo{
    font-size: 24px;
    font-weight: 600;
    color: #F9FAF8;
    
}



.header{
    display: flex;
    align-items: center;
    padding: 0px 30px;
    
    justify-content: space-between;
    /*background-color: #1F2937;*/
    
}

.content{
    width: 410px;
}

.main-text{
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;

}

.second-text{
    font-size: 18px;
    color: #E5E7EB;
    margin-bottom: 10px;
    
}
.hero{
    display:flex ;
    flex:1;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    gap: 35px;
    
    
    
    
    
}

button{
    
  background: #3882F6;
  border: 1px solid royalblue;
  border-radius: 5px;
  padding: 6px 20px;
  font-weight: 600;
  color: white;
}





.header-hero{
    display: flex;
    flex-direction: column;

   background-image: url("./images/christmas-6809681.png");
   box-shadow: inset 0 0 0 50vw rgba(38, 31, 80, 0.3);
    
    
    height: 100vh;
}

.hero img{ /*maybe delete "hero"*/
    max-width: 500px;
    height: auto;
}

ul {
    display: flex;
    list-style-type: none;
    gap:12px;
}

li:hover a{
    color: red;
    
}

a{
    text-decoration: none;
    color: #E5E7EB;
}


.container{
    display: flex;
    
    align-items: center;
    justify-content: center;
    gap: 52px;
    padding-bottom: 52px;
    
}

.info{
    width: 200px;
    height: 300px;
 
}
.title{
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 36px;
    font-weight: 900;
    width: 60vw;
    height: 45px;
    color: #1F2937;
    margin-bottom: -5px;
    border-bottom: solid rgba(128, 128, 128, 0.233) 2px;
   
    
}


.title-container{
    display: flex;
    justify-content: center;
    padding: 40px;
}

.container .text{
    text-align: center;
    color: rgb(77, 77, 77);
    padding: 10px;
}


.container img{
    
    
    border: solid royalblue 4px;
    border-radius: 10%;
    max-width: 200px;
    max-height: 200px;

}


.quote-container{
    display: flex;
    
    flex-direction: column;
    align-items: center;
    background-color: #E5E7EB;
    height: 180px;
    
    justify-content: center;
    padding: 40px;
}

.quote-content{
    width: 800px;
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
    text-align: center;
    
}
.quote-author{
    width: 800px;
    display: flex;
    justify-content: flex-end;
    color: #1F2937;
    font-weight: bold;
    margin-top: 20px;
    
    
}

.call-container{
    display:flex;
    flex:1;
    justify-content: center;
    padding: 70px 0px;
    
}

.call-second-container{
    display: flex;
    padding: 30px 60px;
    width: 60vw;
    column-gap: 30px;
    justify-content: center;
    align-items: center;
    background-color: #3882F6;
    border-radius: 10px;
    
}

.call-to-action,
.footer-text{
    
    color: white;
}

.call-to-action .text1{
    font-weight: bold;
    font-size: 18px;

}

.button-container{
    border: solid white 2px;
    border-radius: 5px;
}

.footer {
    display: flex;
    align-items: center;
    height: 50px;
    justify-content: center;
    background-color: #1F2937;
}